 <!-- /.container -->
<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h5>
                    <strong>Site Haritası</strong>
                </h5>
                <hr />
                <p>
                    <a href="/Home/About"><span class="glyphicon glyphicon-info-sign"></span> Hakkımızda</a><br />
                    <a href="/Home/MostLiked"><span class="glyphicon glyphicon-star"></span> En Beğenilenler</a><br />
                    <a href="/Home/Index"><span class="glyphicon glyphicon-th-list"></span> Son Yazılar</a>
                </p>
            </div>

            <div class="col-lg-4 text-center">
                <h5>
                    <strong>MyDoktor</strong>
                </h5>
                <hr />
                <p>
                    Tüm hakları saklıdır &copy;<br />
                    MyDoktor @DateTime.Now.Year
                </p>
            </div>

            <div class="col-lg-4 text-center">
                <h5>
                    <strong>Önemli Sayfalar</strong>
                </h5>
                <hr />
                <p>
                    <a href="https://enabiz.gov.tr/"><span class="glyphicon glyphicon-heart"></span>Enabız</a><br />
                    <a href="https://www.turkiye.gov.tr/"><span class="glyphicon glyphicon-star"></span>Edevlet</a><br />
                    <a href="https://www.google.com/"><span class="glyphicon glyphicon-search"></span>Google</a>
                </p>
            </div>
        </div>
    </footer>
</div>
<!-- /.container -->
